body{
    background: black;
}

#map{
    height: 500px;
    width: 700px;
    position: relative;
}
#bars{
    display: flex;
}
.vote-bar{
    height: 30px;
    transition: all 200ms;
}
.vote-bar p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 5px;
}
#rep{
    background: #E91D0E;
    width: 0px;
}
#dem{
    background: #232066;
    width: 0px;
}
#neutral{
    background: #AAAAAA;
    width: 0px;
}
#rep-num{
    text-align: left;
}
#dem-num{
    text-align: right;
}